@import './responsive.scss';
@import './variables.scss';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#root, body {
    font-size: $font-size-md;
    line-height: $line-height-md;
    color: $text-color;
    font-family: "AR One Sans Regular", sans-serif;
    background-color: $background-color;
}


// FONTS
@font-face {
    font-family: 'AR One Sans Regular';
    src: local('AR One Sans Regular'), url(../fonts/AROneSans-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'AR One Sans Medium';
    src: local('AR One Sans Medium'), url(../fonts/AROneSans-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'AR One Sans Bold';
    src: local('AR One Sans Bold'), url(../fonts/AROneSans-Bold.ttf) format('truetype');
}
@font-face {
    font-family: 'AR One Sans Semi Bold';
    src: local('AR One Sans Semi Bold'), url(../fonts/AROneSans-SemiBold.ttf) format('truetype');
}