@import './variables.scss';

@mixin sm {
    @media(max-width: 738px) {
        @content;
        font-size: $font-size-sm;
        line-height: $line-height-sm;
        h1 {
            font-size: $h1-sm;
            line-height: $h1-line-height-sm;
        }
        h2 {
            font-size: $h2-sm;
            line-height: $h2-line-height-sm;
        }
        h3 {
            font-size: $h3-sm;
            line-height: $h3-line-height-sm;
        }
        h4 {
            font-size: $h4-sm;
            line-height: $h4-line-height-sm;
        }
    }
}
@mixin md {
    @media(max-width: 1024px) {
        @content;
        h1 {
            font-size: $h1-md;
            line-height: $h1-line-height-md;
        }
        h2 {
            font-size: $h2-md;
            line-height: $h2-line-height-md;
        }
        h3 {
            font-size: $h3-md;
            line-height: $h3-line-height-md;
        }
        h4 {
            font-size: $h4-md;
            line-height: $h4-line-height-md;
        }
    }
}
@mixin lg {
    @media(max-width: 1366px) {
        @content;
        font-size: $font-size-md;
        line-height: $line-height-md;
        h1 {
            font-size: $h1-lg;
            line-height: $h1-line-height-lg;
        }
        h2 {
            font-size: $h2-lg;
            line-height: $h2-line-height-lg;
        }
        h3 {
            font-size: $h3-lg;
            line-height: $h3-line-height-lg;
        }
        h4 {
            font-size: $h4-lg;
            line-height: $h4-line-height-lg;
        }
    }
}