// Colors
$primary-color: #EBFE17;
$secondary-color: #585954;
$tertiary-color: #33342F;
$background-color: #252523;
$header-background-color: #161616;
$delete-color: #DC1E1E;
$text-color: #FFFAFA;

// Font sizes
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;

// Line heights
$line-height-sm: 16px;
$line-height-md: 20px;
$line-height-lg: 24px;

// Spacing
$spacing-xsm: 4px;
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;
$spacing-xlg: 48px;
$spacing-xlg: 64px;
$spacing-xxlg: 92px;

// Headings
$h1-sm: 20px;
$h2-sm: 18px;
$h3-sm: 16px;
$h4-sm: 14px;

$h1-md: 28px;
$h2-md: 24px;
$h3-md: 20px;
$h4-md: 16px;

$h1-lg: 32px;
$h2-lg: 28px;
$h3-lg: 24px;
$h4-lg: 18px;

// Heading line heights
$h1-line-height-sm: 24px;
$h2-line-height-sm: 22px;
$h3-line-height-sm: 20px;
$h4-line-height-sm: 18px;

$h1-line-height-md: 34px;
$h2-line-height-md: 30px;
$h3-line-height-md: 26px;
$h4-line-height-md: 22px;

$h1-line-height-lg: 38px;
$h2-line-height-lg: 34px;
$h3-line-height-lg: 30px;
$h4-line-height-lg: 24px;
